.admin-main{
    margin: 15px;
}
.admin-main .layui-field-title .layui-field-box{
    padding: 10px 30px;
}
.admin-main .layui-field-title .layui-field-box p{
    padding: 5px 0;
}

/*page*/
.pagination li {
    display: inline;
}
.pagination .active span {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #009688;
    border-color: #009688;
}

.hides {display: none;}
.error-prompt {
    border: 1px solid #c87f7f;
}